/* :root{
    --linkColor:purple;
}
a{
    color: var(--linkColor);
}
body{
    display: flex;

}
@define-mixin square $dimension{
    width:$dimension;
    height:$dimension;
}
.button{
    @mixin square 200px;
    &:hover {
        background-color:var(--linkColor); 
    }
} */
.square{
    background: #0000ff;
    border-radius:$radius;
}
.button{
    width: 200px;
    height: 200px;
    background: #00ff00
}
.button:hover {
    background-color:blue;
}